 /* General */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em; 
	background-color: #f1f1f1;
}

.mbody-content, 
.main-header,
.main-footer {
 	text-align: center;
}

/* BG Image properties */

.main-header {
	padding-top: 200px;
	margin-bottom: 50px;
 	height: 400px;
 	width: auto;
 	background: linear-gradient(0deg, #fff, transparent),
              	url('../IMG/header_img.jpg') no-repeat center;
  	background-size: cover;
  	border-radius: 25px;
  	box-shadow: 5px 5px 20px grey;
}

.bodytext {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.25;
	padding-bottom: 10px;
	margin: auto;  
}

/* General Title & Nav Styling + Border props */

#title {
	padding: 5px;
	color: gray;
	font-size: 2.5em;
	font-weight: 700;
	border-bottom: 1px solid;
}

#borderwrap {
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	background: #f1f1f1;
}

/* jQuery Action Button Styling */

#btt, 
#btt2, 
#btt3 {
	display: inline-block;
	text-align: center;
	margin-top: 125px;
	height: 50px;
	width: 200px;
	font-size: 1.75em; 
}

/* Div Styling for jQuery */

.mbody-content {
	display: none;
}

 /* Specific Navigation Styling */

.navbar {
	font-size: 1em;
	font-weight: normal;
	padding: 0 9px 3px;
	display: inline-block;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: steelblue;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
	background-color: orange;
	font-weight: bold;
	border-radius: 5px;
}

/* Intro Body Border style */

.mbody-content {
 	width: 75%;
	margin: auto;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-left: 20px;
 	padding-right: 20px;
 	border: 1px solid;
 	border-radius: 25px;
 	background-color: #21abc7;
}

 /* Gif */

#giffin {
	padding: 0;
	margin-top: 10px;
	max-width: 50%;
	height: auto;
	border-radius: 10px;
}

/* Footer */

.main-footer {
	font-size: .5em;
	margin-top: 50px;
}